<div class="grid-row" style="margin-bottom: 2rem;">
  <div class="grid-col-6">
    <div style="font-size: larger; float: right; padding-right: 1rem;">
      Status:
    </div>
  </div>
  <div class="grid-col-6" style="font-size: x-large;" 
    [ngClass]="{
      'green': siteStatus === 'OK', 
      'red': siteStatus === 'NOT OK', 
      'gray': siteStatus === 'UNKNOWN'}"
    >
    {{siteStatus}}
  </div>
</div>

<div style="margin-bottom: 1rem;">
  <label class="usa-label" for="options">Site</label>
  <select class="usa-select" name="options" id="options" [(ngModel)]="selectedSiteId" (ngModelChange)="onSiteChange($event)">
    <option *ngFor="let site of sites" [value]="site.id">{{site.name}}</option>
  </select>
  <button class="usa-button" [routerLink]="['addsite']">Add site</button>
  <fieldset class="usa-fieldset">
    <legend>Time span</legend>
    <div class="usa-radio">
      <input [(ngModel)]="span" [value]="'10minutes'" class="usa-radio__input" id="1" type="radio" name="range" (click)="onRealTimeClick()">
      <label class="usa-radio__label" for="1">Real-time</label>
    </div>
    <div class="usa-radio">
      <input [(ngModel)]="span" [value]="'24H'" class="usa-radio__input" id="2" type="radio" name="range" (click)="on24Click()">
      <label class="usa-radio__label" for="2">Past 24 Hours</label>
    </div>
    <div class="usa-radio">
      <input [(ngModel)]="span" [value]="'1WEEK'" class="usa-radio__input" id="3" type="radio" name="range" (click)="onWeekClick()">
      <label class="usa-radio__label" for="3">Past Week</label>
    </div>
  </fieldset>
</div>
<div class="clearfix">
  <ngx-charts-line-chart
    [view]="[700, 300]"
    [scheme]="{domain: ['#5AA454']}"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Time'"
    [yAxisLabel]="'Latency (ms)'"
    [timeline]="false"
    [results]="latencyData"
  >
  </ngx-charts-line-chart>
</div>
<div style="margin-bottom: 1rem;">
  <i>Last Update: {{lastUpdate}}</i>
</div>
