.h-center {
  display: block;
  margin: 0 auto;
}

.circle {
  background-color: darkblue;
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 50%;
  line-height: 1rem;
  width: 1rem;
  height: 1rem;
}
