<div class="grid-row" style="margin-bottom: 2rem;">
  <div class="grid-col-5">
    <div style="font-size: larger; float: right; padding-right: 1rem;">
      <span>Status:</span>
      <span style="font-size: x-large;" [ngClass]="{
        'green': siteStatus === 'OK', 
        'red': siteStatus === 'NOT OK', 
        'gray': siteStatus === 'UNKNOWN'}">
        {{siteStatus}}
      </span>
    </div>
  </div>
</div>

<div class="grid-row">
  <div style="margin-bottom: 1rem; margin-right: 6em;" class="grid-col-4">
    <label class="usa-label" for="options">Site</label>
    <div class="grid-row">
      <select class="usa-select grid-col-7" name="options" id="options" [(ngModel)]="selectedSiteId"
        (ngModelChange)="onSiteChange($event)">
        <option *ngFor="let site of sites" [value]="site.id">{{site.name}}</option>
      </select>
      <button class="usa-button grid-col-3" style="margin-left: 2em;" [routerLink]="['addsite']">Add site</button>
    </div>

    <fieldset class="usa-fieldset">
      <legend>Time span</legend>
      <div class="usa-radio">
        <input [(ngModel)]="span" [value]="'10minutes'" class="usa-radio__input" id="1" type="radio" name="range"
          (click)="onRealTimeClick()">
        <label class="usa-radio__label" for="1">Real-time</label>
      </div>
      <div class="usa-radio">
        <input [(ngModel)]="span" [value]="'24H'" class="usa-radio__input" id="2" type="radio" name="range"
          (click)="on24Click()">
        <label class="usa-radio__label" for="2">Past 24 Hours</label>
      </div>
      <div class="usa-radio">
        <input [(ngModel)]="span" [value]="'1WEEK'" class="usa-radio__input" id="3" type="radio" name="range"
          (click)="onWeekClick()">
        <label class="usa-radio__label" for="3">Past Week</label>
      </div>
    </fieldset>
  </div>

  <div class="clearfix grid col-7">
    <ngx-charts-line-chart [view]="[700, 300]" [scheme]="{domain: ['#5AA454']}" [legend]="false" [showXAxisLabel]="true"
      [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'Time'" [yAxisLabel]="'Latency (ms)'"
      [timeline]="false" [results]="latencyData">
    </ngx-charts-line-chart>

    <div style="margin-bottom: 1rem;">
      <i style="margin-left: 4em;">Last Update: {{lastUpdate}}</i>
    </div>
  </div>

</div>