<footer>
    <div class="usa-footer__primary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-12">
                    <nav class="usa-footer__nav">
                        <div class="grid-row grid-gap-4">
                            <div class="grid-col-6 tablet:grid-col-3">
                                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                    <span class="usa-footer__primary-link">Our Website</span>
                                    <ul class="sds-list sds-list--unstyled">
                                        <li>
                                            <a class="usa-link" >About This Site</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Release Notes</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Alerts</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >News</a>

                                        </li>
                                    </ul>

                                </section>
                            </div>
                            <div class="grid-col-6 tablet:grid-col-3">
                                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                    <span class="usa-footer__primary-link">Our Partners</span>
                                    <ul class="sds-list sds-list--unstyled">
                                        <li>
                                            <a class="usa-link" >Aquisition.gov
<i class="fas fa-external-link-alt fa-xs"></i>

</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >USASpending.gov
<i class="fas fa-external-link-alt fa-xs"></i>

</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Grants.gov
<i class="fas fa-external-link-alt fa-xs"></i>

</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >More Partners</a>

                                        </li>
                                    </ul>

                                </section>
                            </div>
                            <div class="grid-col-6 tablet:grid-col-3">
                                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                    <span class="usa-footer__primary-link">Customer Service</span>
                                    <ul class="sds-list sds-list--unstyled">
                                        <li>
                                            <a class="usa-link" >Help</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Contact Federal Service Desk
<i class="fas fa-external-link-alt fa-xs"></i>

</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Our Community
<i class="fas fa-external-link-alt fa-xs"></i>

</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Policy</a>

                                        </li>
                                    </ul>

                                </section>
                            </div>
                            <div class="grid-col-6 tablet:grid-col-3">
                                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                                    <span class="usa-footer__primary-link">Policies</span>
                                    <ul class="sds-list sds-list--unstyled">
                                        <li>
                                            <a class="usa-link" >Privacy Policy</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Disclaimers</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Freedom of Information Act
<i class="fas fa-external-link-alt fa-xs"></i>

</a>

                                        </li>

                                        <li>
                                            <a class="usa-link" >Accessibility</a>

                                        </li>
                                    </ul>

                                </section>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <nav class="sds-footer__nav--accordion">
            <div class="sds-accordion usa-accordion">
                <!-- -->
                <h2 class="usa-accordion__heading sds-accordion__heading">
                    <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a1">
            Our Website
          </button>
                </h2>
                <ul id="a1" class="sds-footer__nav--accordion-content" hidden>
                    <li>
                        <a class="usa-link" >About This Site</a>
                    </li>
                    <li>
                        <a class="usa-link" >Release Notes</a>
                    </li>
                    <li>
                        <a class="usa-link" >Alerts</a>
                    </li>
                    <li>
                        <a class="usa-link" >News</a>
                    </li>
                </ul>
                <h2 class="usa-accordion__heading sds-accordion__heading">
                    <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a2">
            Our Partners
          </button>
                </h2>
                <ul id="a2" class="sds-footer__nav--accordion-content" hidden>
                    <li>
                        <a class="usa-link" >Aquisition.gov
<i class="fas fa-external-link-alt fa-xs"></i>

</a>
                    </li>
                    <li>
                        <a class="usa-link" >USASpending.gov
<i class="fas fa-external-link-alt fa-xs"></i>

</a>
                    </li>
                    <li>
                        <a class="usa-link" >Grants.gov
<i class="fas fa-external-link-alt fa-xs"></i>

</a>
                    </li>
                    <li>
                        <a class="usa-link" >More Partners</a>
                    </li>
                </ul>
                <h2 class="usa-accordion__heading sds-accordion__heading">
                    <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a3">
            Customer Service
          </button>
                </h2>
                <ul id="a3" class="sds-footer__nav--accordion-content" hidden>
                    <li>
                        <a class="usa-link" >Help</a>
                    </li>
                    <li>
                        <a class="usa-link" >Contact Federal Service Desk
<i class="fas fa-external-link-alt fa-xs"></i>

</a>
                    </li>
                    <li>
                        <a class="usa-link" >Our Community
<i class="fas fa-external-link-alt fa-xs"></i>

</a>
                    </li>
                    <li>
                        <a class="usa-link" >Policy</a>
                    </li>
                </ul>
                <h2 class="usa-accordion__heading sds-accordion__heading">
                    <button class="usa-accordion__button usa-accordion__block" aria-expanded="false" aria-controls="a4">
            Policies
          </button>
                </h2>
                <ul id="a4" class="sds-footer__nav--accordion-content" hidden>
                    <li>
                        <a class="usa-link" >Privacy Policy</a>
                    </li>
                    <li>
                        <a class="usa-link" >Disclaimers</a>
                    </li>
                    <li>
                        <a class="usa-link" >Freedom of Information Act
<i class="fas fa-external-link-alt fa-xs"></i>

</a>
                    </li>
                    <li>
                        <a class="usa-link" >Accessibility</a>
                    </li>
                </ul>
                <!-- -->
            </div>
        </nav>
    </div>
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-4 margin-bottom-4">
                    <div class="sds-footer__logo">
                        <a class="sds-footer__logo-link" >
                            <img [src]="locationStrategy.getBaseHref() + 'assets/img/gsa-logo.png'" alt="GSA logo" />
                        </a>
                        <h3 class="sds-footer__logo-heading">
                            General Services Administration
                        </h3>
                    </div>
                </div>
                <div class="sds-footer__note grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-8">
                    This is a U.S. General Services Administration Federal Government computer system that is <strong>"FOR OFFICIAL USE ONLY."</strong> This system is subject to monitoring. Individuals found performing unauthorized activities are subject
                    to disciplinary action including criminal prosecution.
                </div>
            </div>
        </div>
    </div>
</footer>