<footer>
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-4 margin-bottom-4">
                    <div class="sds-footer__logo">
                        <a class="sds-footer__logo-link" >
                            <img [src]="locationStrategy.getBaseHref() + 'assets/img/gsa-logo.png'" alt="GSA logo" />
                        </a>
                        <h3 class="sds-footer__logo-heading">
                            General Services Administration
                        </h3>
                    </div>
                </div>
                <div class="sds-footer__note grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-8">
                    This is a U.S. General Services Administration Federal Government computer system that is <strong>"FOR OFFICIAL USE ONLY."</strong> This system is subject to monitoring. Individuals found performing unauthorized activities are subject
                    to disciplinary action including criminal prosecution.
                </div>
            </div>
        </div>
    </div>
</footer>